body {
			font-size: 20px;
			color: #343d44;
			font-family: "segoe-ui", "open-sans", tahoma, arial;
			padding: 0;
			margin: 0;
		}
		table {
			margin: auto;
			font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
			font-size: 12px;
		}

		h1 {
			margin: 25px auto 0;
			text-align: center;
			text-transform: uppercase;
			font-size: 20px;
		}
		div {
			margin: 30px auto 0;
			text-align: center;
			text-transform: uppercase;
			font-size: 17px;
		}

		table td {
			transition: all .5s;
		}
		
		/* Table */
		.tabla_datos {
			border-collapse: collapse;
			font-size: 20px;
			min-width: 600px;
		}

		.tabla_datos th, 
		.tabla_datos td {
			border: 1px solid #e1edff;
			padding: 7px 20px;
		}
		.tabla_datos caption {
			margin: 7px;
		}

		/* Table Header */
		#titulo {
			background-color: #508abb;
			color: #FFFFFF;
			border-color: #6ea1cc !important;
			text-transform: uppercase;
		}

		/* Table Body */
		.tabla_datos tbody td {
			color: #353535;
		}
		.tabla_datos tbody td:first-child,
		.tabla_datos tbody td:nth-child(4),
		.tabla_datos tbody td:last-child {
			text-align: right;
		}

		.tabla_datos tbody tr:nth-child(odd) td {
			background-color: #f4fbff;
		}
		.tabla_datos tbody tr:hover td {
			background-color: #ffffa2;
			border-color: #ffff0f;
		}

		/* Table Footer */
		.tabla_datos tfoot th {
			background-color: #e5f5ff;
			text-align: right;
		}
		.tabla_datos tfoot th:first-child {
			text-align: left;
		}
		.tabla_datos tbody td:empty
		{
			background-color: #ffcccc;
		}