/*
	Color fondo: #632432;
	Color header: 246355;
	Color borde: 4794dc;
	Color iluminado: 65c5f3;
*/
body{
	background-color: #632432;
	font-family: Arial;
}

#main-container{
	margin: 100px auto;
	width: 300px;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	border: solid 2px black;
	padding: 10px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #4794dc;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #7ebef6;
	color: white;
}










